@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html,
body,
header,
#intro {
    height: 100%;

}

#intro {
    background: url("./imges/slide2.jpg")no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 50px;
    

    
}

ul{
  list-style: none;
}
.navbar{
  background-color: #ffffff;
  padding: 15px 0;
}
.navbar > .container{
  padding: 0 15px;
}
.navbar .navbar-brand{
  font-size: 30px;
  color: #ffffff;
  font-weight: 500;
  text-transform: capitalize;

}
.navbar-toggle {
  background-color: transparent;
}
.navbar .nav-item{
  margin-left: 40px;
}
.navbar .nav-item .nav-link{
  color: #ffffff;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
  position: relative;
}

.navbar .nav-item .nav-link::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: #ffffff;
  transition: all 0.5s ease;
  transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover:before{
  transform: scale(1);
}
.home-text h2{
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 20px;
  }
  .home-text h4{
      font-size: 18px;
      line-height: 28px;
      color: #ffffff;
      margin: 0;
      font-weight: 300;
  }




  @media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 14.2857vw;
    }
}
        